:root {
--basic-white: #FFFFFF;
--basic-dusty-green-light: #D7F2E3;
--basic-dusty-green: #849D8F;
--basic-orange: #F26843;
--basic-orange-dark: #E74A35;
--basic-black: #323232;
--basic-mailing-background: #F8F7F4;
}
/*Global*/
body {
  min-width: 1166px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', "Arial", sans-serif;
  font-size: 16px;
  color: var(--basic-white);
  background-color: var(--basic-dusty-green);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Grid */
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*Index*/

/*Navigation*/
.main-navigation {
  margin-top: 9px;
  margin-left: 27px;
  margin-right: 27px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  line-height: 18px;
  background-color: var(--basic-dusty-green);
}

.main-logo {
  width: 154px;
  height: 64px;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation-wrapper .container,
.main-footer .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation,
.catalog-navigation,
.footer-social-navigation,
.footer-info-navigation,
.ice-cream-list,
.paganation {
  list-style: none;
}

.site-navigation {
  margin: 0;
  padding: 0;
}

.user-navigation{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--basic-dusty-green);
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-white);
}

.section {
  border-radius: 16px;
}
/*Main*/
.two-ice-cream-index1-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.raspberry-bgr,
.chocolate-bgr {
  width: 560px;
  height: 229px;
  margin-left: auto;
  margin-right: auto;
}

.chocolate-bgr {
  background-image: url("../img/chocolate-background.jpg");
}

.chocolate-free-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.chocolate-bgr p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.raspberry-bgr {
  background-image: url("../img/raspberry-background.jpg");
}

.raspberry-free-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.raspberry-bgr p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

/*Information*/
.gllacy-shop-info {
  background-image: url("../img/waffle-pattern.png");
  background-color: var(--basic-mailing-backgroud);
  color: var(--basic-black);
  max-width: 1146px;
  height: 306px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 22px;
  padding-left: 20px;
}

.gllacy-shop-info-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin-left: 20px;
  margin-top: 24px;
  margin-right: 131px;
  margin-bottom: 21px;
}

.gllacy-shop-info-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  margin: 33px;
  padding: 0;
  list-style: none;
}

.gllacy-shop-info-item {
  line-height: 22px;
}
/*News*/
.news {
  background-image: url("../img/strawberry-background.png");
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.news-title {
  font-weight: 500;
  line-height: 22px;
}

.news a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
}

/*Subscription*/

.subscription {
  background-image: url("../img/mail-background.png");
  background-color: var(--basic-mailing-background);
  color: var(--basic-black);
  line-height: 22px;
}

.news,
.subscription {
  width: 560px;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

/*Footer*/
.main-footer {
  background-color: var(--basic-dusty-green);
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
}

.main-footer p {
  font-size: 12px;
}

.main-footer a {
  color: var(--basic-white);
}

.footer-info-navigation li:first-child {
  font-weight: 700;
}

/*Button*/
.button {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
}

/*Catalog*/

.catalog-page h1 {
  font-size: 35px;
  line-height: 41px;
}

.catalog-page a {
  color: var(--basic-white);
}

/*Path*/
.path {
  font-size: 14px;
  line-height: 16px;
}

.catalog-main p {
  font-size: 14px;
  line-height: 16px;
}

.catalog-page span {
  font-size: 22px;
  line-height: 24px;
}

/*Filter*/
.filter-section {
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-section-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}


.filter-item {
  font-weight: 500;
  line-height: 18px;
}

.filter-button {

}

/*Catalog Items*/
.catalog-item-title {
  font-weight: 500;
  line-height: 22px;
}

.ice-cream-list {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 26px;
}

.ice-cream-list p {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.ice-cream-list span {
  font-size: 30px;
  line-height: 35px;
  font-weight: bold;
}

.catalog-item {
  background-color: var(--basic-dusty-green);
}

.catalog-item a {
  color: var(--basic-white);
}

.paganation li {
  font-weight: 500;
  line-height: 18px;
}
