:root {
--basic-white: #FFFFFF;
--basic-dusty-green-light: #D7F2E3;
--basic-dusty-green: #849D8F;
--basic-orange: #F26843;
--basic-orange-dark: #E74A35;
--basic-black: #323232;
--basic-mailing-background: #F8F7F4;
}
/*Global*/
body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', "Arial", sans-serif;
  font-size: 16px;
  color: var(--basic-white);
  background-color: var(--basic-dusty-green);
}

img {
  max-width: 100%;
  height: auto;
}
/*Index*/

/*Navigation*/
.main-navigation {
  font-weight: 700;
  line-height: 18px;
  background-color: var(--basic-dusty-green);
}

.site-navigation,
.catalog-navigation,
.footer-social-navigation,
.footer-info-navigation,
.ice-cream-list,
.paganation {
  list-style: none;
}

.user-navigation{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--basic-dusty-green);
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-white);
}

.section {
  border-radius: 16px;
}
/*Main*/
.two-ice-cream-index1-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.chocolate-bgr {
  background-image: url("../img/chocolate-background.jpg");
}

.chocolate-free-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.chocolate-bgr p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.raspberry-bgr {
  background-image: url("../img/raspberry-background.jpg");
}

.raspberry-free-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.raspberry-bgr p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

/*Information*/
.gllacy-shop-info {
  background-image: url("../img/waffle-pattern.png");
  background-color: var(--basic-mailing-backgroud);
  color: var(--basic-black);
}

.gllacy-shop-info-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.gllacy-shop-info-list {
  list-style: none;
}

.gllacy-shop-info-item {
  line-height: 22px;
}
/*News*/
.news {
  background-image: url("../img/strawberry-background.png");
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.news-title {
  font-weight: 500;
  line-height: 22px;
}

.news a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
}

/*Subscription*/

.subscription {
  background-image: url("../img/mail-background.png");
  background-color: var(--basic-mailing-background);
  color: var(--basic-black);
  line-height: 22px;
}
/*Footer*/
.main-footer {
  background-color: var(--basic-dusty-green);
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
}

.main-footer p {
  font-size: 12px;
}

.main-footer a {
  color: var(--basic-white);
}

.footer-info-navigation li:first-child {
  font-weight: 700;
}

/*Button*/
.button {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
}

/*Catalog*/

.catalog-page h1 {
  font-size: 35px;
  line-height: 41px;
}

.catalog-page a {
  color: var(--basic-white);
}

/*Path*/
.path {
  font-size: 14px;
  line-height: 16px;
}

.catalog-main p {
  font-size: 14px;
  line-height: 16px;
}

.catalog-page span {
  font-size: 22px;
  line-height: 24px;
}

/*Filter*/
.filter-section {
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-section-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}


.filter-item {
  font-weight: 500;
  line-height: 18px;
}

.filter-button {

}

/*Catalog Items*/
.catalog-item-title {
  font-weight: 500;
  line-height: 22px;
}

.ice-cream-list p {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.ice-cream-list span {
  font-size: 30px;
  line-height: 35px;
  font-weight: bold;
}

.catalog-item {
  background-color: var(--basic-dusty-green);
}

.catalog-item a {
  color: var(--basic-white);
}

.paganation li {
  font-weight: 500;
  line-height: 18px;
}
