:root {
--basic-white: #FFFFFF;
--basic-dusty-green-light: #D7F2E3;
--basic-dusty-green: #849D8F;
--basic-dusty-blue: #8996A6;
--basic-dusty-brown: #9D8B84;
--basic-orange: #F26843;
--basic-orange-dark: #E74A35;
--basic-red: #E84D37;
--basic-black: #323232;
--basic-mailing-background: #F8F7F4;
--basic-salmon: #F6B5A5;
--basic-light-salmon: #FBDED7;
--basic-light-grey: #EDEDED;
--basic-terracotta: #D07058;
--basic-peach: #FFBC9E;

}
/*Global*/
body {
  min-width: 1146px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', "Arial", sans-serif;
  font-size: 16px;
  color: var(--basic-white);
  background-color: var(--basic-dusty-green);
  background-size: 100% 656px;
  background-position: center top;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

.catalog-page-body {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
}

.catalog-page-body a {
  color: var(--basic-white);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.button {
  display: inline-block;
  padding: 10px 40px;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  border: none;
  cursor: pointer;

}

.button:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732, #e1613e);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.header-button {
  line-height: 21px;
  color: var(--basic-white);
  padding: 6px 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
}

.header-button:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.header-button:hover .icon {
  fill: var(--basic-black);
}

.search-botton {
  padding: 7px 8px;
  border-radius: 50px;
}

.basket-button-active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
/* Grid */
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*Index*/

/*Navigation*/
header {
  position: relative;
  z-index: 1;
}

.main-navigation {
  margin-top: 9px;
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  line-height: 18px;

}

.main-logo {
  width: 154px;
  height: 64px;
}

.container {
  width: 1146px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.main-navigation-wrapper,
.main-footer {
  width: 1146px;
  display: flex;
  justify-content: space-between;
}

.site-navigation,
.catalog-navigation,
.user-navigation,
.basket-content,
.slider-list,
.gllacy-shop-info-list,
.footer-social-navigation,
.footer-info-navigation,
.breadcrumbs,
.ice-cream-list,
.paganation-list,
.filter-section-fat,
.filter-section-fillers {
  list-style: none;
  padding: 0;
}

.navigation-itself {
  width: 983px;
  height: 64px;
  display: flex;
  justify-content: space-between;
}
/*Site navigation*/
.site-navigation {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-bottom: 5px;

}

.site-navigation-item a {
  padding-top: 7px;
  padding-right: 13px;
  padding-bottom: 9px;
  padding-left: 14px;
  text-decoration: none;
}

.site-navigation-link:hover,
.header-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border-radius: 50px;
}

.site-navigation-link:active {
  background-color: var(--basic-light-grey);
  box-shadow: inset 0px 2px 1px #696969;
  border-radius: 26px;
}

.page-current-link {
  color: var(--basic-white);
  background-color: var(--basic-terracotta);
  border-radius: 50px;
}


.catalog-navigation {
  display: none;
  box-sizing: border-box;
  padding: 0 6px;
}

.catalog-navigation .catalog-navigation-item a{
  color: var(--basic-black);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
 }

.catalog-navigation-item:first-child {
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.catalog-navigation-item:first-child a {
  font-weight: 700;
  padding-bottom: 15px;
}

.catalog-navigation-item a {
  margin: 0 -6px;
}

.catalog-navigation-item a:hover {
  background-color: var(--basic-light-salmon);
}

.catalog-navigation-item a:active {
  background-color: var(--basic-salmon);
}

.catalog-navigation {
  min-width: 143px;
  background-color: var(--basic-white);
  margin-top: 5px;
}

/*User navigation*/
.user-navigation {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.user-navigation-item .dropdown-content  {
  display: none;
  position: absolute;
  background-color: var(--basic-mailing-background);
  margin-top: 5px;
  box-sizing: border-box;
}

.search-item .dropdown-content  {
  width: 341px;
  left: -306px;
}

.search-form p {
  margin: 0;
}

.search-form input[type='text'] {
  box-sizing: border-box;
  margin: 20px 15px;
  padding-left: 15px;
  width: 311px;
  height: 44px;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.login-item .dropdown-content  {
  width: 277px;
  left: -185px;
}

.login-form p {
  margin: 0;
}

.login-link {
  color: var(--basic-black);
}

.login-form input[type='email'] {
  box-sizing: border-box;
  margin: 20px 18px;
  padding-left: 15px;
  width: 241px;
  height: 44px;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.login-form input[type='password'] {
  box-sizing: border-box;
  margin: 0 18px;
  padding-left: 15px;
  width: 241px;
  height: 44px;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.login-info {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.login-info .button {
  font-size: 18px;
  line-height: 16px;
  padding: 15px 25px;
}

.login-info p {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 13px;
  line-height: 15px;
  margin-right: -5px;
}

.basket-item .dropdown-content  {
  width: 539px;
  left: -421px;
}

.basket-content {
  box-sizing: border-box;
  padding: 15px;
}

.basket-content-item-description,
.total {
  color: var(--basic-black);
}

.basket-content-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.basket-content-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  padding-bottom: 20px;
}


.basket-content-item button {
  border: none;
  background: transparent;
}

.basket-content-item .for-kg {
  opacity: 0.3;
}

.cross-button {
  display: inline-block;
  vertical-align: top;
  background-position: center center;
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  opacity: 1;
}

.total {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 15px;
  border-top: 1px solid #CACAC7;
}

.basket-item .button {
  font-size: 18px;
  line-height: 16px;
  padding: 13px 15px;
  margin-top: 18px;
}

.user-navigation-item {
  margin-right: 10px;
}

.user-navigation-item:last-child {
  margin-right: 0;
}

.icon {
  display: inline-block;
  vertical-align: top;
  background-position: center center;
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  fill: white;
}

.site-navigation a,
.user-navigation li {
  color: var(--basic-white);
  display: block;
}

.subnavigation {
  display: flex;
  justify-content: space-between;
}

.breadcrumbs {
  display: flex;
  font-size: 14px;
  line-height: 16px;
  margin-top: 30px;
}

.breadcrumbs a {
  position: relative;
  padding-right: 22px;
}

.breadcrumbs a::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 8px;
  width: 6px;
  height: 6px;
  background-image: url("../img/double-rangle.svg");
}

.breadcrumbs a:hover,
.breadcrumbs a:active,
.catalog-item-title a:hover,
.catalog-item-title a:active,
.footer-info-link:hover,
.footer-info-link:active,
.academy-link:hover,
.academy-link:active {
  color: var(--basic-peach);
  border-bottom: 1px solid rgba(255,188,158,.2);
}

.login-link:hover,
.login-link:active {
  color: var(--basic-red);
  border: 1px solid rgba(232, 77, 55, 0.3);
}

.header-contacts {
  text-align: right;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.header-contacts span {
  display: inline-block;
  margin-top: 8px;
  font-size: 22px;
  line-height: 24px;
}

.section {
  border-radius: 16px;
}

/*Main*/

 /*Slider*/
 .site-wrapper {
  margin-top: -121px;
  min-width: 940px;
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper-1 {
  background-color: var(--basic-dusty-green);

}

.site-wrapper-2 {
  background-color: var(--basic-dusty-blue);

}

.site-wrapper-3 {
  background-color: var(--basic-dusty-brown);

}

.site-wrapper .container {
  margin: 0 auto;
  padding: 0 20px;
}

.slider {
  position: relative;
  text-align: center;
  color: var(--basic-white);
}

.slider-list {
  margin: 0;
  padding: 0;

}

.slider-item:nth-child(1) {
  background-image: url("../img/ice-cream-1.png");
  background-position: center;
  padding-top: 390px;
  padding-bottom: 340px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/ice-cream-2.png");
}

.slider-item:nth-child(3) {
  background-image: url("../img/ice-cream-3.png");
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
  text-align: center;
}

.slider-controls {
  position: absolute;
  bottom: 363px;
  z-index: 20;
  display: flex;
  width: 67px;
  justify-content: space-between;
}

.slider-controls .current {
  background-color: #ffffff;
}

/*Columns*/
.raspberry-bgr,
.chocolate-bgr {
  width: 560px;
  height: 229px;
  box-sizing: border-box;
  padding-left: 16px;
  padding-top: 16px;
  position: relative;
}

.chocolate-bgr {
  background-image: url("../img/chocolate-background.jpg");
}

.chocolate-free-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  margin: 0;
}

.chocolate-bgr p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.raspberry-bgr {
  background-image: url("../img/raspberry-background.jpg");
}

.raspberry-free-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  margin: 0;
}

.raspberry-bgr p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

/*Information*/
.gllacy-shop-info {
  background-image: url("../img/waffle-pattern.png");
  background-color: var(--basic-mailing-background);
  color: var(--basic-black);
  width: 1146px;
  min-height: 306px;
  box-sizing: border-box;
  margin-bottom: 40px;

}

.gllacy-shop-info-title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  padding-left: 20px;
  padding-top: 24px;

}

.gllacy-shop-info-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.gllacy-shop-info-item {
  display: block;
  padding-left: 75px;
  padding-top: 14px;
  padding-bottom: 19px;
  line-height: 22px;
  position: relative;
}

.gllacy-shop-info-item:nth-child(1)::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  width: 49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.gllacy-shop-info-item:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  width: 49px;
  height: 49px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.gllacy-shop-info-item:nth-child(3)::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  width: 49px;
  height: 49px;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.gllacy-shop-info-item:nth-child(4)::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  width: 49px;
  height: 49px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
/*News*/
.news {
  background-image: url("../img/strawberry-background.png");
  background-color: var(--basic-white);
  color: var(--basic-black);
  box-sizing: border-box;
  padding-top: 23px;
  padding-right: 250px;
  padding-bottom: 80px;
  padding-left: 20px;

}

.news-title {
  font-weight: 500;
  line-height: 22px;
  margin: 0;
  margin-bottom: 4px;
}

.news a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  padding-top: 6px;

}

/*Subscription*/
.mail-background {
  position: relative;
  background-image: url("../img/mail-background.png");
  box-sizing: border-box;
  padding: 5px 6px;
}

.mail-background .subscription {
  width: 548px;
  height: 210px;
  box-sizing: border-box;
  padding-top: 29px;
  padding-right: 15px;
  padding-bottom: 35px;
  padding-left: 20px;
  border-radius: 15px;
  background-color: #f8f7f4;
}

.subscription-description {
  color: var(--basic-black);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.subscription-form {
  display: flex;
  align-items: baseline;
  margin-top: 45px;
  height: 44px;
}

.subscription-form label {
  flex-grow: 1;
  margin-right: 7px;
}

.subscription-form input[type='email'] {
  box-sizing: border-box;
  padding-left: 14px;
  height: 44px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 6px;
  width: 100%;

}

.news,
.mail-background {
  width: 560px;
  height: 220px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.index-columns-1 {
  margin-top: -300px;
}

.index-columns .container {
  display: flex;
  justify-content: space-between;
}

/*Map*/
.container-map{
  height: 430px;
  margin-left: auto;
  margin-right: auto;
}

.map {
  height: 100%;
  position: relative;
}


.map img {
  height: 100%;
  object-fit: cover;
}

.map::before {
  content: "";
  position: absolute;
  top: 136px;
  left: 266px;
  width: 80px;
  height: 140px;
  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.adress-container {
  position: relative;
}

.adress {
  color: var(--basic-black);
  font-size: 14px;
  line-height: 20px;
  background-color: var(--basic-white);
  border-radius: 16px;
  box-sizing: border-box;
  padding: 20px;
  position: absolute;
  width: 303px;
  height: 306px;
  right: 10px;
  top: -370px;
}

.adress span {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}


/*Footer*/
.main-footer {
  background-color: var(--basic-dusty-green);
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
  width: 100%;
}

.main-footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 18px;
  margin-bottom: 35px;
}

.main-footer p {
  font-size: 12px;
}

.main-footer a {
  color: var(--basic-white);
}

.footer-social-navigation {
  margin: 0;
  margin-left: 19px;
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-social-navigation li {
  margin-right: 12px;
  width: 32px;
  height: 32px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 500px;
}

.social-link path {
  fill: rgba(255, 255, 255, 0.8);
}

.social-link:hover path {
  fill: var(--basic-white);
}

.footer-info {
  display: flex;
  justify-content: center;
}

.footer-info-navigation  {
  margin: 0;
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-info-navigation li {
  margin-bottom: 11px;
  padding-left: 22px;
}

.for-suppliers {
  font-weight: 700;
  position: relative;
}

.for-suppliers::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
}

.copyright {
  width: 190px;
  margin-right: 17px;
}

/*Button*/
.slider-controls button {
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider-controls button:active {
  background-color: var(--basic-white);
}

.index-columns-1 .button {
  position: absolute;
  right: 22px;
  bottom: 22px;
  font-size: 18px;
  line-height: 24px;
  padding: 15px 20px;
}

.adress .button {
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  bottom: 30px;
  left: 25px;
  padding: 13px 28px;
}

.subscription-form .button {
  flex-shrink: 0;
  font-size: 18px;
  line-height: 24px;
  padding: 9px 20px;
}


/*Catalog*/
.catalog-main-title {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  margin-bottom: 30px;
}

/*Filter*/
.filter {
  display: flex;
}

.filter-container {
  min-height: 130px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

.filter-container .filter-container-item {
  margin-bottom: 15px;
}

.filter-section {
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  color: var(--basic-white);
  font-weight: 500;
  padding-right: 15px;
}

.filter-section-options,
.filter-section-fat,
.filter-slider,
.filter-section-fillers,
.filter-button {
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  height: 36px;
  margin: 0;
}

.filter-section-name {
  font-size: 14px;
  padding-left: 16px;
  margin-bottom: 7px;
}

.filter-section-options {
  position: relative;
  width: 196px;
  color: var(--basic-white);
  font-weight: 500;
  font-size: 16px;
  border-radius: 20px;
  padding-left: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 170px center;
}

.filter-section-options:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url("../img/select-arrow-black.svg");
}

.filter-slider {
  position: relative;
  box-sizing: border-box;
  width: 218px;
  padding: 17px 20px;
}

.filter-slider .scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: auto;
}

.filter-slider .bar {
  box-sizing: border-box;
  width: 78px;
  height: 2px;
  background-color: var(--basic-white);
  margin-left: 34px;
}

.filter-slider .toggle {
  position: absolute;
  top: 8px;
  left: 0;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: pointer;
}

.filter-slider .toggle-min {
  left: 34px;
}

.filter-slider .toggle-max {
  left: 132px;
}

.filter-section-fat,
.filter-section-fillers {
  display: flex;
}

.filter-section-fillers {
  width: 711px;
}

.filter-section-fat {
  width: 425px;
}

.filter-item {
  font-weight: 500;
  line-height: 18px;
  margin-left: 55px;
  margin-top: auto;
  margin-bottom: auto;
}

.filter-section-fat .filter-item {
  margin-left: 50px;
}

.filter-item label {
  position: relative;
  display: block;
  line-height: 20px;
}

.filter-input-checkbox + label::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  left: -34px;
  top: 0;
  height: 20px;
  width: 20px;
  border-radius: 2px;
  border: 2px solid rgba(255,255,255,0.8);
}

.filter-input-checkbox:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  left: -30px;
  top: 1px;
  box-sizing: border-box;
  height: 11px;
  width: 18px;
  border-bottom: 4px solid rgba(237, 241, 239);
  border-left: 4px solid rgba(237, 241, 239);
  transform: rotate(-45deg);
  box-shadow: 0px 2px rgba(166, 185, 175),
              inset 1px -2px 0px 0px rgba(166, 185, 175);
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: -34px;
  top: -1px;
  height: 22px;
  width: 22px;
  border-radius: 50px;
  border: 3.5px solid rgba(255,255,255,0.8);
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  top: 6px;
  left: -27px;
  border: 4px solid rgba(255,255,255,0.8);
  border-radius: 50%;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:checked:hover + label::after,
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:checked:hover + label::after {
  border-color: var(--basic-white);
}

.filter-item-button {
  margin-top: 23px;
}

.filter-button {
  width: 144px;
  border: 2px solid var(--basic-white);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 7px 29px;
}

.filter-button:hover,
.filter-button:active {
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: none;
}

.filter-button:active {
  box-shadow: inset 0px 2px 1px #696969;
}

/*Catalog Items*/
.ice-cream-list {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 267px;
  margin: 0;
  margin-bottom: 40px;
}

.catalog-item:hover {
  z-index: 1;
  color:
}

.catalog-item-hover {
  display: none;
  z-index: 1;
  position: absolute;
  top: -6px;
  bottom: -83px;
  left: -12px;
  right: -12px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.2);
  border-radius: 4px;
}

.catalog-item-hover .button {
  position: absolute;
  bottom: 22px;
  left: 46px;
  font-size: 18px;
  padding: 12px 16px;
  margin-left: auto;
  margin-right: auto;
}

.catalog-item:hover .catalog-item-hover {
  display: block;
  z-index: -1;
}

.catalog-item .hit-marker {
  position: absolute;
  order: 1;
}

.catalog-item-title {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  margin-top: 13px;
  padding: 0;
  text-align: center;
  order: 4;
}

.catalog-item .price {
  position: absolute;
  top: 216px;
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  order: 3
}

.catalog-item span {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
}

.catalog-item a {
  color: var(--basic-white);
}

/*Paganation*/

.paganation-item {
  font-weight: 500;
  line-height: 18px;
}

.paganation {
  margin-top: 80px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: flex-end;
}
.paganation-list {
  display: flex;
  justify-content: space-around;
  width: 194px;
}

.paganation-item-link {
  text-decoration: none;
  padding: 3px 8px;
  border-radius: 50px;
}

.paganation-item-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.paganation-item .current-paganation-item-link {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.paganation-previous-link,
.paganation-next-link {
  display: block;
  box-sizing: border-box;
  width: 7px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 3px;
}

.paganation-previous-link {
  transform: rotate(180deg);
}

.disabled-paganation {
  opacity: 0.2;
}
/*Modal*/

.modal-form {
  position: fixed;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-mailing-background);
  width: 477px;
  box-sizing: border-box;
  padding: 25px 20px;
  border-radius: 6px;
}

.modal-form h2 {
  margin: 0;
}

.modal-form input[type="text"],
.modal-form input[type="email"] {
  box-sizing: border-box;
  margin: 0;
  padding: 14px 16px;
  width: 241px;
  height: 44px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 4px;
}

.modal-form textarea {
  max-width: 100%;
  box-sizing: border-box;
  width: 435px;
  min-height: 154px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 4px;
  padding: 14px 16px;
}

.modal-button {
  display: flex;
  flex-direction: row-reverse;
}

.modal-button .button {
  font-size: 18px;
  line-height: 24px;
  padding: 14px 24px;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
}

.gray-background {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
